* {
    box-sizing: border-box;
}

@media screen and (min-width: 10px) {
    .section_head { width: 100%; order: 0; }
    .preo { width: 32%; order: 1; }
    .random { width: 32%; order: 3; }
    .meme { width: 32%; order: 2; }
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

img, embed, object, video {
    max-width: 100%;
}

header {
    border-bottom: 2px solid #7d97ad;
    padding-top: 10px;
    overflow: auto;
    margin: 20px;
}

.header_name {
    float: right;
    text-align: right;
    text-transform: uppercase;
    padding-top: 10px;
}

.udacity_logo {
    
}

#logo_image {
    display: inline-block;
}

h1 {
    margin-top: -10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: #2d3c49;
    float: right;
}

h2 {
    margin-top: 20px;
    color: #2d3c49;
}

h4 {
    font-size: 80%;
    color: #2d3c49;
}

container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    min-width: 50%;
    max-width: 100%;
    margin: auto;
}
main {
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
}

figure {
    min-width: 32%;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link {
    color: #2d3c49;
}

a:visited {
    color: #7d97ad;
}

a:hover {
    color: beige;
    padding: 5px 10px;
    background-color: black;
    border-radius: 2px;
    opacity: 1.0;
}

.feature_sites {
    display:flex;
    display: inline;
    border: 1px solid #2d3c49;
    margin: 2px;
    border-radius: 3px;
    overflow: auto;
    min-width: 30%;
    
}

.section {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}