body {
  margin-top: 60px;
  background-image: url("https://mrbaker1917.com/images/RepinPeterCossacks.jpg");
		    background-color: #b1b9c6;
    		background-size:cover;
}
img {
  margin: 10px;
}
.caption {
  margin-bottom: 20px;
}
.time-line {
  margin: auto;
  width: 80%;
  background-color: #f9f9f4;
  border-radius: 5px;
  padding: 10px;
}
h4 {
  margin: 20px;
}
